<!DOCTYPE html>
<html>
<head>
	<title>Home Page for API calls</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>



<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
			<div class="card-body" style="width: 25rem;">
			<h5 class="card-title">API 1</h5>
			<br>
			<h6 class="card-subtitle mb-2 text-muted">API call for group name, group id, number of photos etc..</h6>
			<p class="card-text"></p>
			<br>

			<div class="form-group">
			<label for="exampleInputPassword1">Group ID</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Group ID here">
			</div>
			<form method="POST" action="">			
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</div>
    </div>

    <div class="col">
    <div>
			<div class="card-body" style="width: 25rem;">
			<h5 class="card-title">API 2</h5>
			<br>
			<h6 class="card-subtitle mb-2 text-muted">API call for group name, group id, number of photos etc..</h6>
			<p class="card-text"></p>
			<br>

			<div class="form-group">
			<label for="exampleInputPassword1">Group ID</label>
			<input type="text" class="form-control" name="group_id" placeholder="Enter Group ID here">
			</div>
			<form method="POST" action="{% url 'group_info_photos_count' group_id %}">
			
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</div>
    </div>    	
    </div>

    <div class="col">
    <div>
			<div class="card-body" style="width: 25rem;">
			<h5 class="card-title">API 3</h5>
			<br>
			<h6 class="card-subtitle mb-2 text-muted">API call for group name, group id, number of photos etc..</h6>
			<p class="card-text"></p>
			<br>

			<div class="form-group">
			<label for="exampleInputPassword1">Group ID</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Group ID here">
			</div>
			<form method="POST" action="">
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</div>
    </div>    	
    </div>
  </div>
</div>
</body>
</html>